In [2]:
import pandas as pd

In [13]:
df = pd.read_csv("weather.csv",delimiter=";")
df.head()

    outlook  temp humidity  windy play
0     rainy   hot     high  False   no
1     rainy   hot     high   True   no
2  overcast   hot     high  False  yes
3     sunny  mild     high  False  yes
4     sunny  cool   normal  False  yes

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['outlook'] = le.fit_transform(df['outlook'].values)
df['temp'] = le.fit_transform(df['temp'].values)
df['humidity'] = le.fit_transform(df['humidity'].values)
df['windy'] = le.fit_transform(df['windy'].values)
df['play'] = le.fit_transform(df['play'].values)

In [11]:
le.classes_

array(['no', 'yes'], dtype=object)

In [14]:
outlook_enc = LabelEncoder()
temp_enc = LabelEncoder()
humidity_enc = LabelEncoder()
windy_enc = LabelEncoder()
play_enc = LabelEncoder()
outlook_enc.fit(df['outlook'].values)

df['outlook'] = outlook_enc.transform(df['outlook'].values)
df['temp'] = temp_enc.fit_transform(df['temp'].values)
df['humidity'] = humidity_enc.fit_transform(df['humidity'].values)
df['windy'] = windy_enc.fit_transform(df['windy'].values)
df['play'] = play_enc.fit_transform(df['play'].values)

In [15]:
df.head()

   outlook  temp  humidity  windy  play
0        1     1         0      0     0
1        1     1         0      1     0
2        0     1         0      0     1
3        2     2         0      0     1
4        2     0         1      0     1

In [16]:
temp_enc.classes_

array(['cool', 'hot', 'mild'], dtype=object)

In [17]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(df.iloc[:,:-1],df.iloc[:,-1])

GaussianNB(priors=None)

In [21]:
x = ["rainy","cool","high","True"]
x[0] = int(outlook_enc.transform([x[0]]))
x[1] = int(temp_enc.transform([x[1]]))
x[2] = int(humidity_enc.transform([x[2]]))
x[3] = int(windy_enc.transform([x[3]]))
x

[1, 0, 0, 1]

In [28]:
gnb.predict_proba([x])

array([[0.73326914, 0.26673086]])

In [31]:
df = pd.read_csv("Social_Network_Ads.csv")
x = df.iloc[:,[2,3]].values
y = df.iloc[:,4].values

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [33]:
gnb = GaussianNB()
gnb.fit(x,y)

GaussianNB(priors=None)

In [35]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [36]:
pd.cut(df['EstimatedSalary'], 3)

0        (14865.0, 60000.0]
1        (14865.0, 60000.0]
2        (14865.0, 60000.0]
3        (14865.0, 60000.0]
4       (60000.0, 105000.0]
5        (14865.0, 60000.0]
6       (60000.0, 105000.0]
7      (105000.0, 150000.0]
8        (14865.0, 60000.0]
9       (60000.0, 105000.0]
10      (60000.0, 105000.0]
11       (14865.0, 60000.0]
12      (60000.0, 105000.0]
13       (14865.0, 60000.0]
14      (60000.0, 105000.0]
15      (60000.0, 105000.0]
16       (14865.0, 60000.0]
17       (14865.0, 60000.0]
18       (14865.0, 60000.0]
19       (14865.0, 60000.0]
20       (14865.0, 60000.0]
21       (14865.0, 60000.0]
22       (14865.0, 60000.0]
23       (14865.0, 60000.0]
24       (14865.0, 60000.0]
25       (14865.0, 60000.0]
26       (14865.0, 60000.0]
27       (14865.0, 60000.0]
28       (14865.0, 60000.0]
29       (14865.0, 60000.0]
               ...
370      (14865.0, 60000.0]
371     (60000.0, 105000.0]
372     (60000.0, 105000.0]
373    (105000.0, 150000.0]
374     (60000.0, 105000.0]
375      (14865.0, 60000.0]
376     (60000.0, 105000.0]
377      (14865.0, 60000.0]
378     (60000.0, 105000.0]
379      (14865.0, 60000.0]
380     (60000.0, 105000.0]
381      (14865.0, 60000.0]
382    (105000.0, 150000.0]
383      (14865.0, 60000.0]
384      (14865.0, 60000.0]
385      (14865.0, 60000.0]
386      (14865.0, 60000.0]
387     (60000.0, 105000.0]
388      (14865.0, 60000.0]
389      (14865.0, 60000.0]
390      (14865.0, 60000.0]
391      (14865.0, 60000.0]
392      (14865.0, 60000.0]
393      (14865.0, 60000.0]
394      (14865.0, 60000.0]
395      (14865.0, 60000.0]
396      (14865.0, 60000.0]
397      (14865.0, 60000.0]
398      (14865.0, 60000.0]
399      (14865.0, 60000.0]
Name: EstimatedSalary, Length: 400, dtype: category
Categories (3, interval[float64]): [(14865.0, 60000.0] < (60000.0, 105000.0] < (105000.0, 150000.0]]